nav{
  height: 40px;
  ul{
    display: inline;
  }
  li {
    display: inline;

  }
  a{
    font-size: 25px;
    padding: 20px;
    color: white;
    margin: 0;
    text-decoration: none;
  }
  padding: 0;
  margin: 0;
  background-color: black


}


Header {

  h1{
    margin: 0;
  }
  padding: 0;
  margin: 0;
  background-color: rgb(0, 91, 195);
  color: white;
}

h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

span {
  padding: 10px;
}

@keyframes glow {
  0% {
    background-color: rgb(0, 165, 0);
  }

  50% {
    background-color: rgb(130, 197, 30);
  }

  100% {
    background-color: rgb(0, 165, 0);
  }
  
}

.pending-text{
  animation: glow 4s ease infinite;;
  color: white;
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 20px;


}

.settings-buttons {
  & button {
    margin: 20px;
  }
}

input[type=radio] {
  display: none;
}


input[type=radio]:checked + span {
  background: red;
}
input[type=radio]:not(:checked):hover + span {
  background-color: lightgray; /* Change the background color of the span when the radio input is hovered and unchecked */
}

input[type=radio] + span {
  margin: 3px;
  padding: 5px;
  border: solid;
}

Footer {
  padding: 20px;
}

form {
 padding-left: 10px;
 padding-right: 10px;
}


.m_e2f5cd4e {
  margin-left: 10px;
}